<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698435265821-ft2720e6504rl1ud1qvbm3pl4nvopro2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698435265821-ft2720e6504rl1ud1qvbm3pl4nvopro2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>698435265821-36362ge6r03nsnmt0ajcg2gbl8751aat.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxUC4HaiG9n9s43-ROIG9sn5qXnhgo16c</string>
	<key>GCM_SENDER_ID</key>
	<string>698435265821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.lineup.lineup</string>
	<key>PROJECT_ID</key>
	<string>lineup-212605</string>
	<key>STORAGE_BUCKET</key>
	<string>lineup-212605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698435265821:ios:5a701ac0ab86d354</string>
	<key>DATABASE_URL</key>
	<string>https://lineup-212605.firebaseio.com</string>
</dict>
</plist>